.header {
  background-image: url(../../img/header.jpeg);
  background-position: -300px 40%;
  padding: 24vh 0 5vh 0;
  width: 100%;
  font-size: 400%;
  box-shadow: 0 0 13px black;
}

.header>.title {
  margin-left: 13vw;
}

@media only screen and (max-width: 600px) {
  .header {
    padding: 12vh 0 3vh 0;
  }
}