.sitemap {
  text-align: center;
  font-size: 200%;
  width: 80%;
  margin: 0 auto;
  margin-top: 13vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ref {
  width: max-content;
}

.ref:hover, .ref:focus {
  color: red;
}

#menuRef {
  margin-top: 7vh;
}